version: "3"

volumes:
    prometheus_data:
    grafana_data:
    redis_data:

services:
  prometheus:
    image: prom/prometheus:v3.3.0
    restart: unless-stopped
    ports:
      - "127.0.0.1:9090:9090"
    extra_hosts:
          - "host.docker.internal:host-gateway"
    volumes:
      - prometheus_data:/prometheus
      - ./docker/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - mesh-bridge
  grafana:
    image: grafana/grafana-oss:12.0.1
    restart: unless-stopped
    volumes:
      - grafana_data:/var/lib/grafana
      - ./docker/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./docker/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./grafana-dashboards:/var/lib/grafana/dashboards
    ports:
      - "0.0.0.0:3000:3000"
    networks:
      - mesh-bridge
  exporter:
    image: ghcr.io/artiommocrenco/meshtastic-prometheus-exporter:2.0
    restart: unless-stopped
    environment:
      - MESHTASTIC_INTERFACE=MQTT
      - MQTT_ADDRESS=mqtt.meshtastic.org
      - MQTT_USE_TLS=0
      - MQTT_PORT=1883
      - MQTT_KEEPALIVE=15
      - MQTT_USERNAME=meshdev
      - MQTT_PASSWORD=large4cats
      - MQTT_TOPIC=msh/EU_433/#
      - REDIS_URL=redis://redis:6379
    networks:
      - mesh-bridge
#   Redis is being utilised for storing persistent state
  redis:
    image: redis:8
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - mesh-bridge

networks:
  mesh-bridge:
    driver: bridge
