meshtastic_protobufs_community_danielgtaylor_betterproto @ https://buf.build/gen/python/meshtastic-protobufs-community-danielgtaylor-betterproto/meshtastic_protobufs_community_danielgtaylor_betterproto-1.2.5.6.20240423181507+09cd4959de0a-py3-none-any.whl
opentelemetry-api==1.26.0
opentelemetry-exporter-prometheus-remote-write==0.48b0
opentelemetry-exporter-prometheus==0.47b0
opentelemetry-sdk==1.26.0
paho-mqtt==2.1.0
redis==5.0.3
